# .gitignore itself
.gitignore

# PyCharm and VSCode folders
.idea
.vscode

# Local History for Visual Studio Code
.history
# Built Visual Studio Code Extensions
*.vsix

# Ruff folder
.ruff_cache

# LibreOffice locks
.~lock.*

# Notepad++ backups #
*.bak

### Python template
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# before PyInstaller builds the exe, so as to inject date/other info into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Cython debug symbols
cython_debug

# My own project tools
.project_tools

# My Backups of Projects
*_MyBackup*
/.vscode/
