# PyCharm and VSCode folders
**\.vscode
.vscode\*
.vscode\
**/.vscode
.vscode/*
.vscode/
.vscode

**\.idea
.idea\*
.idea\
**/.idea
.idea/*
.idea/
.idea

# Local History for Visual Studio Code
.history
# Built Visual Studio Code Extensions
*.vsix

# Ruff folder
**\.ruff_cache
.ruff_cache\
.ruff_cache\*
**/.ruff_cache
.ruff_cache/
.ruff_cache/*
.ruff_cache

# LibreOffice locks
.~lock.*

# Notepad++ backups #
*.bak

# Byte-compiled / optimized / DLL files
**\.__pycache__
__pycache__\*
__pycache__\
**/.__pycache__
__pycache__/*
__pychache/
__pycache__

*.py[cod]
*$py.class

# C extensions
*.so

# before PyInstaller builds the exe, so as to inject date/other info into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Cython debug symbols
cython_debug

# My own project tools
.project_tools\*
.project_tools\
.project_tools/*
.project_tools/
.project_tools

# My Backups of Projects
*_MyBackup*
